<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Bar Collapse - Cascatas</title>
    <!-- importing stylesheet -->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body id="contentor-wide">
    <aside class="menu-lateral-esquerdo">
        <div class="menu-icone">
            <box-icon class="menu-icone-logo" name='code-alt' aria-label="DevLab Logo"></box-icon>
            <span class="app-nome">
                DevLab
            </span>
            <box-icon class="menu-icone-open open" name='menu-alt-right' color='#ffffff' ></box-icon>
            <box-icon class="menu-icone-open close collapse" name='menu-alt-left' color='#ffffff' ></box-icon>
        </div>
        <nav class="menu-principal">
            <ul class="menu-lista">
                <li class="menu-item active">
                    <box-icon name='dashboard' type='solid' color='#ffffff' ></box-icon>
                    <a href="#" class="menu-item-link">Dashboard</a>
                </li>
                <li class="menu-item">
                    <box-icon name='contact' type='solid' color='#ffffff' ></box-icon>
                    <a href="#" class="menu-item-link">Contactos</a>
                </li>
                <li class="menu-item">
                    <box-icon name='chat' type='solid' color='#ffffff' ></box-icon>
                    <a href="#" class="menu-item-link">Mensagens</a>
                </li>
                <li class="menu-item">
                    <box-icon name='user-voice' color='#ffffff' ></box-icon>
                    <a href="#" class="menu-item-link">Campanhas</a>
                </li>
            </ul>
        </nav>
        <div class="profile">
            <div class="profile-pic">
                <img src="../imgs/developer.jpg" alt="Developer Profile Picture" title="Profile">
            </div>
            <div class="name-job">
                <p class="name">Devasse</p>
                <p class="job"><a href="https://github.com/devassse" target="_blank">@devasse</a> - Software Architect & Developer</p>
            </div>
            <div class="logout">
                <a href="#" title="Log Out">
                    <box-icon name='log-out-circle' color='#ffffff'></box-icon>
                </a>
            </div>
        </div>
    </aside>

    <main class="contentor-principal">
        Side Bar Responsive Menu
        <h4>Dashboard</h4>
    </main>

    <!-- Box Icons CDN -->
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <!-- Importing Scripts -->
    <script src="../js/scripts.js"></script>
</body>
</html>